name: .NET Core

on:
  push:
   tags:
    - 'v*' # Push events to matching v*, i.e. v1.0, v20.15.10

jobs:
  release:
    runs-on: ubuntu-24.04
    steps:
      - name: Create Release
        id: create_release
        uses: softprops/action-gh-release@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          name: Release ${{ github.ref }}
          draft: false
          prerelease: false
  build:
    name: Build
    needs: release
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        os: [linux-arm, win-x64, linux-x64, linux-arm64]
    steps:
    - name: Checkout
      uses: actions/checkout@v5
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: 8.0.x
    - name: ${{ matrix.os }} - Build with dotnet
      run: dotnet publish -c Release --self-contained -r ${{ matrix.os }} /p:DebugType=None
    - name:  ${{ matrix.os }} - create publish folder
      run: mkdir publish${{ matrix.os }}
    - name:  ${{ matrix.os }} - copy ClientTCP files
      run: cp ./ClientTCP/bin/Release/net8/${{ matrix.os }}/publish/* publish${{ matrix.os }}/
    - name:  ${{ matrix.os }} - copy hyper files
      run: cp ./hyper/bin/Release/net8/${{ matrix.os }}/publish/* publish${{ matrix.os }}/
    - name: ${{ matrix.os }} - Write version to file
      run: echo "${GITHUB_REF#refs/tags/}" >> publish${{ matrix.os }}/version.txt
    - name: ${{ matrix.os }} - Compress output
      run: tar cfJ publish${{ matrix.os }}.tar.xz publish${{ matrix.os }}
    - name: ${{ matrix.os }} - Upload Release Asset
      uses: softprops/action-gh-release@v2
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ github.ref_name }}
        files: ./publish${{ matrix.os }}.tar.xz
      
